Repository yodaos-project/ShadowNode, pull requests merged in 2018-06, with the labels that each got.

#139 jerry, build: add apis and improve builds
  .travis.yml
  README.md
  deps/jerry/CMakeLists.txt
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/include/jerryscript-core.h
  deps/jerry/jerry-core/parser/js/js-parser-statm.c
  deps/jerry/jerry-core/parser/js/js-parser.c
  deps/jerry/tests/unit-core/test-api.c
  deps/jerry/tests/unit-core/test-snapshot.c
  deps/jerry/tools/build.py
  package-lock.json
  package.json
Labels: build, jerry

#142 http: set content-length if not set and body is set
  src/js/http_outgoing.js
  test/run_pass/test_net_http_request_response.js
Labels: http, https

#158 http: allow zero value for content-length by correct check for value
  src/js/http_outgoing.js
  test/run_pass/test_net_headers.js
Labels: http

#163 buffer: add writeInt32LE impl and docs
  docs/api/Buffer.md
  src/js/buffer.js
  test/run_pass/test_buffer.js
Labels: buffer

#157 build, travis: update travis build script
  .travis.yml
  cmake/mbedtls.cmake
  test/profiles/tizen.profile
  test/profiles/tizenrt.profile
  tools/travis_script.py
Labels: build

#165 jerry: fix uninitialized memory
  deps/jerry/jerry-core/ecma/operations/ecma-exceptions.c
Labels: jerry

#168 travis: run lint before travis scripts
  .travis.yml
Labels: build

#170 jerry: fix test warnings
  deps/jerry/tests/unit-core/test-snapshot.c
Labels: jerry
