Repository yodaos-project/ShadowNode, pull requests merged in 2018-11, with the labels that each got.

#403 mqtt: fixed the unconnectable problem caused by setting a wrong isConnected flag
  src/js/mqtt.js
  test/run_pass/test_mqtt_client.js
  test/run_pass/test_mqtt_sub_pub.js
  test/run_pass/test_mqtts_client.js
  tools/travis_script.py
Labels: mqtt

#404 dbus: correct the buffer copy size in encoding message
  src/modules/iotjs_module_dbus.c
  test/run_pass/test_dbus_send_utf8.js
  test/testsets.json
Labels: dbus

#383 promise: ShadowNode use seperate profile instead of polluting jerry
  CMakeLists.txt
  deps/jerry/jerry-core/profiles/es2015-subset.profile
  profiles/jerry/default.profile
Labels: jerry

#390 jerry: implement source info
  CMakeLists.txt
  build.config
  cmake/iotjs.cmake
  cmake/jerry.cmake
  deps/jerry/docs/02.API-REFERENCE.md
  deps/jerry/docs/03.API-EXAMPLE.md
  deps/jerry/jerry-core/CMakeLists.txt
  deps/jerry/jerry-core/api/jerry-snapshot.c
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/config.h
  deps/jerry/jerry-core/ecma/base/ecma-globals.h
  deps/jerry/jerry-core/ecma/base/ecma-helpers.c
  deps/jerry/jerry-core/ecma/base/ecma-helpers.h
  deps/jerry/jerry-core/ecma/base/ecma-literal-storage.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-function.c
  deps/jerry/jerry-core/ecma/operations/ecma-eval.c
  deps/jerry/jerry-core/ecma/operations/ecma-exceptions.c
  deps/jerry/jerry-core/ecma/operations/ecma-objects.c
  deps/jerry/jerry-core/include/jerryscript-core.h
  deps/jerry/jerry-core/include/jerryscript-snapshot.h
  deps/jerry/jerry-core/jcontext/jcontext.c
  deps/jerry/jerry-core/jcontext/jcontext.h
  deps/jerry/jerry-core/parser/js/js-lexer.c
  deps/jerry/jerry-core/parser/js/js-parser-internal.h
  deps/jerry/jerry-core/parser/js/js-parser-statm.c
  deps/jerry/jerry-core/parser/js/js-parser.c
  deps/jerry/jerry-core/parser/js/js-parser.h
  deps/jerry/jerry-core/vm/vm.c
  deps/jerry/jerry-main/main-unix-snapshot.c
  deps/jerry/tests/unit-core/test-abort.c
  deps/jerry/tests/unit-core/test-api.c
  deps/jerry/tests/unit-core/test-exec-stop.c
  deps/jerry/tests/unit-core/test-mem-stats.c
  deps/jerry/tests/unit-core/test-promise.c
  deps/jerry/tests/unit-core/test-snapshot.c
  deps/jerry/tests/unit-ext/test-ext-arg.c
  deps/jerry/tools/build.py
  deps/jerry/tools/profiler/cl.py
  deps/jerry/tools/profiler/j2cl.js
  docs/devs/Optimization-Tips.md
  src/iotjs.c
  src/iotjs_binding_helper.c
  src/js/iotjs.js
  src/modules/iotjs_module_process.c
  test/run_pass/test_process_stackframes.js
  tools/build.py
Labels: jerry, minor, perf

#406 process: invokes setImmediate on uv check phase
  deps/libtuv/src/unix/core.c
  deps/libtuv/src/unix/loop-watcher.c
  src/iotjs_magic_strings.h
  src/js/assert.js
  src/js/iotjs.js
  src/modules/iotjs_module_process.c
  test/run_pass/test_process_setimmediate.js
  test/testsets.json
Labels: minor, process, uv

#407 uv: drop code path for epoll_pwait-less kernels
  deps/libtuv/src/unix/linux-core.c
Labels: uv

#395 jerry: add class basic support
  deps/jerry/jerry-core/api/jerry-snapshot.c
  deps/jerry/jerry-core/api/jerry-snapshot.h
  deps/jerry/jerry-core/config.h
  deps/jerry/jerry-core/ecma/operations/ecma-function-object.c
  deps/jerry/jerry-core/parser/js/byte-code.h
  deps/jerry/jerry-core/parser/js/js-lexer.c
  deps/jerry/jerry-core/parser/js/js-lexer.h
  deps/jerry/jerry-core/parser/js/js-parser-expr.c
  deps/jerry/jerry-core/parser/js/js-parser-internal.h
  deps/jerry/jerry-core/parser/js/js-parser-scanner.c
  deps/jerry/jerry-core/parser/js/js-parser-statm.c
  deps/jerry/jerry-core/parser/js/js-parser-util.c
  deps/jerry/jerry-core/parser/js/js-parser.c
  deps/jerry/jerry-core/parser/js/js-parser.h
  deps/jerry/jerry-core/profiles/README.md
  deps/jerry/jerry-core/vm/vm.c
  deps/jerry/tests/jerry/es2015/class.js
  deps/jerry/tests/jerry/regression-test-issue-2409.js
  deps/jerry/tests/unit-core/test-snapshot.c
  tools/js2c.py
Labels: jerry, minor

#417 process: set immediate shall start an idle handle to activate uv_loop
  src/iotjs_env.c
  src/iotjs_env.h
  src/modules/iotjs_module_process.c
  tools/testrunner.py
Labels: minor, process, test, tool

#415 util: IOTJS_ASSERT prints stack trace on macOS
  src/iotjs_util.c
  src/iotjs_util.h
  src/napi/node_api_env.c
Labels: enhancement

#411 n-api: thread safe functions
  docs/api/N-API.md
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/napi/node_api_tsfn.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi_tsfn.c
  test/napi/napi_tsfn.test.js
Labels: minor, n-api

#418 jerry: Date.now shall return an integer
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  deps/jerry/tests/jerry/regression-test-issue-2272.js
Labels: jerry

#416 n-api: update n-api headers/test sets to LTS version 10.13.0
  docs/api/N-API.md
  include/node_api.h
  include/node_api_types.h
  test/addons-napi/7_factory_wrap/binding.cc
  test/addons-napi/7_factory_wrap/myobject.cc
  test/addons-napi/7_factory_wrap/myobject.h
  test/addons-napi/7_factory_wrap/test.js
  test/addons-napi/8_passing_wrapped/test.js
  test/addons-napi/README.md
  test/addons-napi/test_async/test-loop.js
  test/addons-napi/test_general/testFinalizer.js
  test/addons-napi/test_general/test_general.c
Labels: n-api

#424 jerry: reduce the argument count of ecma_op_object_get_property_names
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/ecma/base/ecma-globals.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  deps/jerry/jerry-core/ecma/operations/ecma-objects.c
  deps/jerry/jerry-core/ecma/operations/ecma-objects.h
  deps/jerry/jerry-core/vm/opcodes.c
Labels: jerry

#419 n-api: ArrayBuffer/TypedArray support
  docs/api/N-API.md
  src/internal/node_api_internal_types.h
  src/napi/node_api_value.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi_typedarray.c
  test/napi/napi_typedarray.test.js
Labels: minor, n-api

#429 test: fix wrong travis diff target introduced by #425
  test/run_pass/test_net_https_destroy.js
  tools/travis_script.py
Labels: build
