Repository yodaos-project/ShadowNode, pull requests merged in 2018-03, with the labels that each got.

#70 websocket: add socket
  src/js/https_client.js
  src/js/websocket.js
Labels: websocket

#71 mqtt, websocket: fix the chunk size
  src/modules/iotjs_module_mqtt.c
  src/modules/iotjs_module_websocket.c
Labels: mqtt, websocket

#72 module: follow the LOAD_NODE_MODULES() algorithm from Node.js official
  src/js/module.js
Labels: module

#73 mqtt: fix the read connect length
  src/modules/iotjs_module_mqtt.c
Labels: mqtt

#74 websocket: fix the mem length
  src/modules/iotjs_module_websocket.c
Labels: websocket

#75 child_process: fix the invalid write to memory
  src/modules/iotjs_module_child_process.c
Labels: child_process

#76 tls, net: remove unneeded logs
  src/js/net.js
  src/modules/iotjs_module_tls.c
Labels: net, tls

#77 ws: throw utf invalid error when received message
  src/js/websocket.js
Labels: websocket

#81 tls: bug fix
  src/js/mqtt.js
  src/js/tls.js
  src/modules/iotjs_module_constants.c
  src/modules/iotjs_module_mqtt.c
  src/modules/iotjs_module_tls.c
Labels: mqtt, tls

#89 iotjs, jerry: add stack trace function
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/ecma/operations/ecma-exceptions.c
  deps/jerry/jerry-core/include/jerryscript-core.h
  deps/jerry/jerry-core/jcontext/jcontext.h
  deps/jerry/jerry-core/parser/js/js-parser-statm.c
  deps/jerry/jerry-core/parser/js/js-parser.c
  deps/jerry/jerry-core/vm/vm.c
  src/iotjs.c
  src/iotjs_binding_helper.c
  src/iotjs_magic_strings.h
  src/js/iotjs.js
  src/modules/iotjs_module_process.c
  test/node/parallel/test-http-catch-uncaughtexception.js
  test/run_pass/test_events_uncaught_error.js
  test/run_pass/test_fs_exists.js
  test/run_pass/test_process_uncaught_order.js
Labels: jerry

#88 mqtt: memory and connection optimization
  src/js/mqtt.js
  src/modules/iotjs_module_mqtt.c
Labels: mqtt

#92 websocket: fix message integrity
  .gitignore
  src/js/websocket.js
  src/modules/iotjs_module_websocket.c
Labels: websocket

#99 child_process: fix kill signal
  src/js/child_process.js
  test/run_pass/test_child_process_kill.js
  test/run_pass/test_child_process_kill2.js
  test/testsets.json
  tools/test_runner.js
Labels: child_process
