Repository yodaos-project/ShadowNode, pull requests merged in 2018-08, with the labels that each got.

#238 jerry: naïve implementation of handle scope
  deps/jerry/docs/13.EXT-REFERENCE-HANDLE-SCOPE.md
  deps/jerry/jerry-ext/CMakeLists.txt
  deps/jerry/jerry-ext/handle-scope/handle-scope-allocator.c
  deps/jerry/jerry-ext/handle-scope/handle-scope-internal.h
  deps/jerry/jerry-ext/handle-scope/handle-scope.c
  deps/jerry/jerry-ext/include/jerryscript-ext/handle-scope.h
  deps/jerry/tests/unit-ext/test-ext-handle-scope-escape.c
  deps/jerry/tests/unit-ext/test-ext-handle-scope-handle-prelist-escape.c
  deps/jerry/tests/unit-ext/test-ext-handle-scope-handle-prelist.c
  deps/jerry/tests/unit-ext/test-ext-handle-scope-nested.c
  deps/jerry/tests/unit-ext/test-ext-handle-scope.c
Labels: jerry, napi

#245 jerryx: root handle scope convenience methods
  deps/jerry/jerry-ext/handle-scope/handle-scope-allocator.c
  deps/jerry/jerry-ext/handle-scope/handle-scope-internal.h
  deps/jerry/jerry-ext/handle-scope/handle-scope.c
  deps/jerry/jerry-ext/include/jerryscript-ext/handle-scope.h
  deps/jerry/tests/unit-ext/test-ext-handle-scope-root.c
Labels: jerry, napi

#246 module: any unknown extensions shall be treated as js
  src/js/module.js
  test/run_pass/require1/arbitrary_file.txt
  test/run_pass/test_module_require.js
Labels: module

#247 cmake: add jerryx dependency to iotjs
  .travis.yml
  cmake/jerry.cmake
  src/iotjs.c
  tools/build.py
  tools/travis_script.py
Labels: build

#253 benchmark: json.stringify
  benchmark/json/stringify-nested.js
  benchmark/json/stringify-string.js
  benchmark/json/stringify.js
Labels: benchmark

#254 tools: test runner shall exit with non-zero code if fail
  tools/testrunner.py
Labels: build

#243 napi: module registration
  .travis.yml
  cmake/iotjs.cmake
  cmake/jerry.cmake
  include/node_api.h
  include/node_api_types.h
  src/internal/node_api_internal.h
  src/iotjs_magic_strings.h
  src/js/module.js
  src/modules/iotjs_module_process.c
  src/napi/node_api.c
  src/napi/node_api_module.c
  test/napi-testsets.json
  test/napi/.gitignore
  test/napi/CMakeLists.txt
  test/napi/napi.test.c
  test/napi/napi.test.js
  tools/build.py
  tools/check_tidy.py
  tools/pull-napi-headers.sh
  tools/testrunner.py
  tools/travis_script.py
Labels: module, napi

#249 console: improve the performance on printf
  src/modules/iotjs_module_console.c
Labels: console

#256 handle-scope: complete escaping of handles
  deps/jerry/jerry-ext/handle-scope/handle-scope-internal.h
  deps/jerry/jerry-ext/handle-scope/handle-scope.c
  deps/jerry/jerry-ext/include/jerryscript-ext/handle-scope.h
  deps/jerry/tests/unit-ext/test-ext-handle-scope-remove.c
  src/napi/node_api_module.c
Labels: jerry, napi

#257 module: fix NODE_MODULE environment works
  .gitignore
  src/js/iotjs.js
  test/run_pass/require2/node_modules/foobar/index.js
  test/run_pass/test_module_require2.js
  test/testsets.json
  tools/testrunner.py
Labels: module

#260 napi: env and functions
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_module.c
  src/napi/node_api_property.c
  src/napi/node_api_value.c
  test/napi/napi.test.c
  test/napi/napi.test.js
Labels: napi

#263 DBus: fix require crash
  src/modules/iotjs_module_dbus.c
Labels: dbus

#264 napi: working with javascript properties
  src/internal/node_api_internal.h
  src/napi/node_api_property.c
Labels: napi

#267 napi: version management
  cmake/iotjs.cmake
  src/iotjs_def.h
  src/iotjs_env.c
  src/napi/node_api.c
Labels: napi

#268 napi: handle scopes management
  src/internal/node_api_internal.h
  src/napi/node_api_lifetime.c
Labels: napi

#273 napi: function operations
  src/internal/node_api_internal.h
  src/napi/node_api_function.c
Labels: napi

#270 napi: working with javascript values
  src/internal/node_api_internal.h
  src/napi/node_api_value.c
Labels: napi

#274 module: optimize the path searching
  docs/api/Module.md
  src/js/module.js
  test/node/parallel/test-assert.js
  test/node/parallel/test-http-catch-uncaughtexception.js
  test/node/parallel/test-http-status-message.js
  test/node/parallel/test-http-write-head.js
  test/node/parallel/test-net-after-close.js
  test/node/parallel/test-net-bind-twice.js
  test/node/parallel/test-net-end-without-connect.js
  test/node/parallel/test-net-keepalive.js
  test/node/parallel/test-timers-clear-null-does-not-throw-error.js
  test/run_pass/require1/test_index/index.js
  test/run_pass/require1/test_index2/index_test.js
  test/run_pass/require1/test_pkg/main.js
  test/run_pass/require2/node_modules/foobar/test.js
  test/run_pass/test_module_cache.js
  test/run_pass/test_module_json.js
  test/run_pass/test_module_require2.js
  test/testsets.json
Labels: module

#277 napi: object native info
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/napi/node_api_function.c
  src/napi/node_api_lifetime.c
  src/napi/node_api_object_wrap.c
  src/napi/node_api_property.c
Labels: napi

#279 build: set DerivePointerAlignment to false
  .clang-format
  config/nuttx/stm32f4dis/app/iotjs_main.c
  config/nuttx/stm32f4dis/app/jerry_port.c
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/iotjs_list.c
  src/iotjs_list.h
  src/modules/iotjs_module_crypto.c
  src/modules/iotjs_module_tls_bio.c
  src/modules/iotjs_module_tls_bio.h
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_lifetime.c
  src/napi/node_api_module.c
  src/platform/tizenrt/iotjs_main_tizenrt.c
Labels: build

#281 napi: object abstract operations
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/include/jerryscript-core.h
  src/internal/node_api_internal.h
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_value.c
  test/napi/napi.test.c
  test/napi/napi.test.js
Labels: napi

#282 napi: napi_get_cb_info shall accepts NULL pointers
  src/napi/node_api_function.c
  test/napi/napi.test.c
Labels: napi

#280 ci: clean up dependencies
  .travis.yml
  test/node/parallel/test-http-abort.js
  tools/apt-get-install-deps.sh
  tools/travis_script.py
Labels: build

#240 jerry: add heap profiler
  CMakeLists.txt
  cmake/jerry.cmake
  deps/jerry/jerry-core/CMakeLists.txt
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/ecma/base/ecma-alloc.c
  deps/jerry/jerry-core/ecma/base/ecma-gc.c
  deps/jerry/jerry-core/ecma/base/ecma-globals.h
  deps/jerry/jerry-core/ecma/base/ecma-helpers.h
  deps/jerry/jerry-core/ecma/operations/ecma-objects.c
  deps/jerry/jerry-core/ecma/operations/ecma-objects.h
  deps/jerry/jerry-core/include/jerryscript-core.h
  deps/jerry/jerry-core/lit/lit-magic-strings.inc.h
  deps/jerry/jerry-core/lit/lit-magic-strings.ini
  deps/jerry/jerry-core/profiler/heap-profiler.c
  deps/jerry/jerry-core/profiler/heap-profiler.h
  deps/jerry/jerry-ext/handler/handler-profiler.c
  deps/jerry/jerry-ext/include/jerryscript-ext/handler.h
  deps/jerry/jerry-main/main-unix.c
  deps/jerry/tools/build.py
  deps/jerry/tools/profiler/cl.py
  deps/jerry/tools/profiler/flamegraph.pl
  deps/jerry/tools/profiler/j2v8snap.js
  deps/jerry/tools/profiler/snapshot-tmpl.json
  docs/api/Profiler.md
  docs/devs/Optimization-Tips.md
  src/iotjs_magic_strings.h
  src/js/profiler.js
  src/modules/iotjs_module_profiler.c
  test/run_pass/test_profiler.js
  tools/build.py
Labels: jerry

#288 mock: http server
  .travis.yml
  tools/certs/server.crt
  tools/certs/server.key
  tools/http_server.js
  tools/travis_script.py
Labels: test

#292 napi: null in-out return pointer
  src/internal/node_api_internal.h
  src/modules/iotjs_module_process.c
  src/napi/node_api.c
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_lifetime.c
  src/napi/node_api_module.c
  src/napi/node_api_object_wrap.c
  src/napi/node_api_property.c
  src/napi/node_api_value.c
  test/addons-napi/8_passing_wrapped/test.js
  test/addons-napi/test_async/test-async-hooks.js
  test/addons-napi/test_async/test-loop.js
  test/addons-napi/test_buffer/test.js
  test/addons-napi/test_callback_scope/test-async-hooks.js
  test/addons-napi/test_constructor/test.js
  test/addons-napi/test_constructor/test2.js
  test/addons-napi/test_error/test.js
  test/addons-napi/test_exception/test.js
  test/addons-napi/test_function/test.js
  test/addons-napi/test_general/test.js
  test/addons-napi/test_general/testInstanceOf.js
  test/addons-napi/test_make_callback_recurse/test.js
  test/addons-napi/test_new_target/test.js
  test/addons-napi/test_threadsafe_function/test.js
  test/addons-napi/test_typedarray/test.js
  test/napi-testsets.json
  tools/pull-napi.sh
  tools/testrunner.py
Labels: napi

#293 assert: assert.throws expectation
  docs/api/Assert.md
  src/js/assert.js
  src/js/util.js
  test/run_pass/test_assert.js
Labels: assert

#296 napi: external object
  src/napi/node_api_value.c
Labels: napi

#299 assert: assert.ok
  docs/api/Assert.md
  src/js/assert.js
  test/run_pass/test_assert.js
  test/run_pass/test_fs_mkdir_rmdir.js
  test/run_pass/test_fs_stat.js
  test/run_pass/test_fs_write.js
  test/run_pass/test_net_http_request_response.js
  test/run_pass/test_net_https_post_status_codes.js
  test/run_pass/test_spi.js
Labels: assert

#298 napi: cleanup hooks
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/iotjs.c
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_lifetime.c
  src/napi/node_api_object_wrap.c
  src/napi/node_api_property.c
  src/napi/node_api_value.c
  test/napi-testsets.json
Labels: napi

#300 napi: null terminator on copying string value
  src/napi/node_api_function.c
  src/napi/node_api_value.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/common.h
  test/napi/napi.test.c
  test/napi/napi_string.c
  test/napi/napi_string.test.js
Labels: napi

#302 napi: exceptions
  deps/jerry/jerry-ext/handle-scope/handle-scope-internal.h
  deps/jerry/jerry-ext/handle-scope/handle-scope.c
  deps/jerry/jerry-ext/include/jerryscript-ext/handle-scope.h
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_value.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi_arguments.c
  test/napi/napi_arguments_return.test.js
  test/napi/napi_arguments_return_this.test.js
  test/napi/napi_arguments_throw.test.js
  test/napi/napi_error.c
  test/napi/napi_error_rethrow.test.js
  test/napi/napi_error_throw.test.js
  test/napi/napi_fatal_error.c
  test/napi/napi_fatal_error_1.test.js
  test/napi/napi_fatal_error_2.test.js
Labels: napi

#304 napi: simple async operations
  src/internal/node_api_internal.h
  src/internal/node_api_internal_types.h
  src/napi/node_api.c
  src/napi/node_api_async.c
  src/napi/node_api_function.c
  src/napi/node_api_lifetime.c
  src/napi/node_api_object_wrap.c
  src/napi/node_api_value.c
  test/common/index.js
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi_async.cc
  test/napi/napi_async.test.js
  test/napi/napi_reference.c
  test/napi/napi_reference.test.js
Labels: napi

#307 fix: close handle scopes doesn’t reset current scope
  deps/jerry/jerry-ext/handle-scope/handle-scope-allocator.c
  deps/jerry/tests/unit-ext/test-ext-handle-scope-nested.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi.test.js
  test/napi/napi_arguments_return.test.js
  test/napi/napi_arguments_return_this.test.js
  test/napi/napi_arguments_throw.test.js
  test/napi/napi_async.test.js
  test/napi/napi_construct.c
  test/napi/napi_construct.test.js
  test/napi/napi_error_rethrow.test.js
  test/napi/napi_error_throw.test.js
  test/napi/napi_fatal_error_1.test.js
  test/napi/napi_fatal_error_2.test.js
  test/napi/napi_reference.test.js
  test/napi/napi_string.test.js
Labels: jerry, n-api

#308 fix: unhandled n-api error on module init
  .eslintignore
  src/internal/node_api_internal.h
  src/modules/iotjs_module_process.c
  src/napi/node_api_async.c
  src/napi/node_api_env.c
  src/napi/node_api_function.c
  src/napi/node_api_module.c
  test/common/index.js
  test/napi/napi_error.c
  test/napi/napi_error_rethrow.test.js
  test/napi/napi_error_throw.test.js
Labels: n-api

#313 doc: n-api
  README.md
  docs/api/N-API.md
  docs/api/README.md
Labels: doc, n-api

#314 doc: fix napi link at readme
  README.md
Labels: doc

#316 dbus: expose the internal member privately
  src/js/dbus.js
Labels: dbus

#318 add util.promisify
  src/js/util.js
  test/run_pass/test_util_promisify.js
  test/testsets.json
Labels: util

#323 dbus: refactor and add start adding tests
  .travis.yml
  src/js/dbus.js
  src/modules/iotjs_module_dbus.c
  test/run_pass/test_dbus_after_destroy.js
  test/run_pass/test_dbus_define.js
  test/run_pass/test_dbus_introspectable.js
  test/run_pass/test_dbus_service_and_call.js
  test/run_pass/test_dbus_signal.js
  test/testsets.json
  tools/apt-get-install-deps.sh
Labels: dbus, minor, test

#324 fix: cipher.update shall use underlying buffer directly
  src/js/crypto.js
  src/modules/iotjs_module_crypto_hash.c
  test/run_pass/test_crypto_hash.js
Labels: crypto

#326 working on 0.10.x
  CMakeLists.txt
  package.json
Labels: versioning

#328 MQTT: optimize stability
  src/iotjs_magic_strings.h
  src/js/mqtt.js
  src/modules/iotjs_module_mqtt.c
Labels: mqtt
