Repository yodaos-project/ShadowNode, pull requests merged in 2018-09, with the labels that each got.

#336 events: change intial way (#335)
  src/js/events.js
Labels: events

#338 events: emit `newListener` on new listener
  docs/api/Events.md
  src/js/events.js
  test/run_pass/test_events_new_listener.js
Labels: events

#343 promise: emit unhandledRejection on process
  docs/api/Process.md
  src/js/iotjs.js
  src/js/promise.js
  test/run_fail/test_promise_unhandled_rejection.js
  test/run_pass/test_process_unhandled_rejection.js
  test/testsets.json
Labels: process, promise

#344 n-api: napi_make_callback triggers next tick
  src/internal/node_api_internal_types.h
  src/napi/node_api_async.c
  src/napi/node_api_lifetime.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi_make_callback.c
  test/napi/napi_make_callback.test.js
  test/napi/napi_make_callback_error.test.js
  test/napi/napi_make_callback_recurse.cc
  test/napi/napi_make_callback_recurse.test.js
Labels: n-api

#347 benchmark: url.format
  benchmark/url/append-url.js
  benchmark/url/url-format.js
  benchmark/url/url.json
Labels: benchmark, url

#348 http: fix memory leak when socket dns lookup error
  src/js/http_client.js
  src/js/net.js
  test/run_pass/test_net_http_dns_error.js
  test/testsets.json
Labels: bug, http

#354 test: add test_net_https_destroy.js to testset
  test/testsets.json
Labels: bug, test
