Repository yodaos-project/ShadowNode, pull requests merged in 2018-07, with the labels that each got.

#149 tls: inherits TLS socket from net.Socket
  src/js/tls.js
  src/modules.json
  src/modules/iotjs_module_tls.c
Labels: net, tls

#160 jerry: record magic string id of builtin objects and their routines
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-boolean.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-error.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-evalerror-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-evalerror.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-function.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-number.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-rangeerror-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-rangeerror.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-referenceerror-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-referenceerror.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-regexp.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-syntaxerror-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-syntaxerror.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-type-error-thrower.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-typeerror-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-typeerror.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-urierror-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-urierror.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtins-internal.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtins.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtins.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-float32array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-float32array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-float64array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-float64array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int16array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int16array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int32array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int32array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int8array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int8array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint16array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint16array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint32array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint32array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint8array-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint8array.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint8clampedarray-prototype.inc.h
  deps/jerry/jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint8clampedarray.inc.h
Labels: jerry

#178 jerry, iotjs: refactor the parser dump to avoid the such many dump files
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/include/jerryscript-core.h
  deps/jerry/jerry-core/parser/js/js-parser.c
  src/iotjs.c
  src/iotjs_binding_helper.c
  src/js/iotjs.js
  src/modules/iotjs_module_process.c
  test/run_pass/test_process_stackframes.js
  tools/build.py
  tools/check_crash.sh
Labels: jerry

#174 http: chunked transfer encoding
  docs/api/HTTP.md
  src/js/http_client.js
  src/js/http_outgoing.js
  test/run_pass/test_http_transfer_encoding.js
  test/run_pass/test_net_http_request_response.js
  test/testsets.json
Labels: http

#191 mqtt: remove unused members and spaces
  src/modules/iotjs_module_mqtt.c
Labels: bug, mqtt

#198 child_process: free blocks from strdup() which causes memory leaks
  src/modules/iotjs_module_child_process.c
  test/memory/child_process.js
Labels: child_process

#197 tty: implement the tty.isatty()
  src/iotjs_magic_strings.h
  src/js/tty.js
  src/modules.json
  src/modules/iotjs_module_tty.c
  test/run_pass/test_tty.js
  test/testsets.json
Labels: tty

#205 dbus: support multiple arguments for signal emits
  src/modules/iotjs_module_dbus.c
Labels: dbus

#208 build, test: remove jsdriver which has been deprecated by IoT.js
  package.json
  src/modules.json
  src/modules/iotjs_module_testdriver.c
  test/testsets.json
  tools/build.py
  tools/check_test.js
  tools/common_py/path.py
  tools/test_runner.js
  tools/travis_script.py
Labels: build

#214 dbus: should throw better message when caller is invalid
  src/js/dbus.js
Labels: dbus

#215 promise: remove native and use the pure javascript impl
  deps/jerry/jerry-core/profiles/es2015-subset.profile
  src/js/iotjs.js
  src/js/promise.js
  src/modules.json
Labels: promise

#224 chore: travis deploy stage
  .travis.yml
Labels: build

#225 process: add .title to set process name and get name
  deps/libtuv/cmake/option/option_linux_common.cmake
  deps/libtuv/cmake/option/option_unix_common.cmake
  deps/libtuv/cmake/option/option_x86_64-darwin.cmake
  deps/libtuv/include/uv.h
  src/iotjs_env.c
  src/iotjs_magic_strings.h
  src/js/iotjs.js
  src/modules/iotjs_module_process.c
  test/run_pass/test_process_title.js
  test/testsets.json
Labels: process

#226 dbus: fix memory leaks
  src/modules/iotjs_module_dbus.c
Labels: dbus

#228 process: add versions descriptor
  docs/api/Process.md
  src/iotjs_def.h
  src/iotjs_magic_strings.h
  src/modules/iotjs_module_process.c
Labels: process

#227 Release Proposal: working on v0.9.x
  CMakeLists.txt
  package.json
Labels: versioning

#237 build: update travis key
  .travis.yml
Labels: build

#236 buffer: add readFloatLE and readDoubleLE
  docs/api/Buffer.md
  src/iotjs_magic_strings.h
  src/js/buffer.js
  src/modules/iotjs_module_buffer.c
  test/run_pass/test_buffer.js
Labels: buffer
