Repository yodaos-project/ShadowNode, pull requests merged in 2018-12, with the labels that each got.

#409 uv, os: implement os.{get,set}Priority functions
  deps/libtuv/include/uv-errno.h
  deps/libtuv/include/uv-unix.h
  deps/libtuv/include/uv.h
  deps/libtuv/src/unix/core.c
  deps/libtuv/test/test_process_priority.c
  docs/api/OS.md
  src/iotjs_magic_strings.h
  src/js/os.js
  src/modules.json
  src/modules/iotjs_module_constants.c
  src/modules/iotjs_module_os.c
  test/run_pass/test_os_priority.js
  test/testsets.json
Labels: minor, uv

#433 process: memory leaks on recursive ticking
  src/js/internal/process/next_tick.js
Labels: perf, process

#434 Working on v0.11.x
  CMakeLists.txt
  package.json
Labels: minor, versioning

#435 assert: add deepStrictEqual function
  docs/api/Assert.md
  src/js/assert.js
  src/js/util.js
  test/run_pass/test_assert.js
Labels: assert

#439 os: build bcast address interface.
  deps/libtuv/include/uv.h
  deps/libtuv/src/unix/darwin.c
  deps/libtuv/src/unix/freebsd.c
  deps/libtuv/src/unix/linux-core.c
  deps/libtuv/src/unix/netbsd.c
  deps/libtuv/src/unix/openbsd.c
  deps/libtuv/src/unix/sunos.c
  docs/api/OS.md
  src/js/os.js
  src/modules/iotjs_module_os.c
  test/run_pass/test_os.js
  test/testsets.json
Labels: os, push upstream

#441 n-api: data pointer was NULL on getting typed array info
  src/napi/node_api_value.c
  test/napi/napi_typedarray.c
Labels: n-api

#440 https: https client request doesn’t define default encoding
  src/js/http_client.js
  src/js/https_client.js
Labels: http, https, websocket

#423 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: community, doc

#437 readme: polishing readme statements
  README.md
Labels: doc

#442 add local server for protocol test
  .travis.yml
  test/common/index.js
  test/deps/mqtt-server.js
  test/deps/package.json
  test/deps/test-cert.pem
  test/deps/test-csr.pem
  test/deps/test-key.pem
  test/deps/websocket-server.js
  test/deps/yarn.lock
  test/run_pass/test_mqtt_client.js
  test/run_pass/test_mqtt_sub_pub.js
  test/run_pass/test_net_http_request_response.js
  test/run_pass/test_websocket_connection.js
  test/testsets.json
Labels: mqtt, test, websocket

#451 chore: use yarnpkg registry to speed up CI
  test/deps/yarn.lock
Labels: author ready, build

#449 build: normalize openwrt toolchain naming
  cmake/config/aarch64-openwrt-linux.cmake
  cmake/config/arm-openwrt-linux.cmake
  deps/libtuv/cmake/config/config_aarch64-openwrt.cmake
  deps/libtuv/cmake/config/config_arm-openwrt-linux.cmake
  deps/libtuv/cmake/option/option_aarch64-openwrt-linux.cmake
  deps/libtuv/cmake/option/option_arm-openwrt-linux.cmake
Labels: author ready, build

#450 jerry: replace vm_run function arg with named function opcode
  deps/jerry/jerry-core/ecma/operations/ecma-function-object.c
  deps/jerry/jerry-core/parser/js/byte-code.h
  deps/jerry/jerry-core/parser/js/common.h
  deps/jerry/jerry-core/parser/js/js-lexer.c
  deps/jerry/jerry-core/parser/js/js-parser-expr.c
  deps/jerry/jerry-core/parser/js/js-parser-internal.h
  deps/jerry/jerry-core/parser/js/js-parser-limits.h
  deps/jerry/jerry-core/parser/js/js-parser-statm.c
  deps/jerry/jerry-core/parser/js/js-parser.c
  deps/jerry/jerry-core/vm/vm-defines.h
  deps/jerry/jerry-core/vm/vm.c
  deps/jerry/jerry-core/vm/vm.h
  deps/jerry/tests/jerry/function-expr-named.js
Labels: jerry

#452 build: fix missing openwrt-linux suffix
  deps/libtuv/cmake/config/config_aarch64-openwrt-linux.cmake
Labels: build

#447 jerry: add gc parameters to adjust
  deps/jerry/jerry-core/CMakeLists.txt
  deps/jerry/jerry-core/config.h
Labels: jerry, push upstream

#445 module: build require.resolve
  benchmark/module/require.js
  benchmark/module/require.resolve.js
  docs/api/Module.md
  src/js/module.js
  test/common/fixtures.js
  test/run_pass/test_require_resolve.js
  test/testsets.json
Labels: module

#453 mqtt: support `will` options for sending messages while being disconnected
  src/iotjs_magic_strings.h
  src/js/mqtt.js
  src/modules/iotjs_module_mqtt.c
  test/deps/mqtt-server.js
  test/run_pass/test_mqtt_will_opts.js
  test/testsets.json
Labels: land-on-v0.10.x, mqtt

#459 jerry: fix failure of gen-magic-string.py for leading spaces
  deps/jerry/jerry-core/ecma/operations/ecma-function-object.c
  deps/jerry/tools/gen-magic-strings.py
Labels: jerry

#462 jerry: number type convenience methods
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-number.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtin-number.inc.h
  deps/jerry/jerry-core/lit/lit-magic-strings.inc.h
  deps/jerry/jerry-core/lit/lit-magic-strings.ini
  deps/jerry/tests/jerry/number-is.js
Labels: jerry, push upstream

#464 build: option to build a statically linked executable
  .travis.yml
  cmake/iotjs.cmake
  tools/build.py
Labels: build

#470 jerry: deprecate outdated test cases
  deps/jerry/tests/jerry/es2015/object-literal.js
  deps/jerry/tests/jerry/function-external.js
  deps/jerry/tests/jerry/object-literal-3.js
  tools/travis_script.py
Labels: jerry, test

#468 jerry: support binary literal
  deps/jerry/jerry-core/lit/lit-char-helpers.c
  deps/jerry/jerry-core/lit/lit-char-helpers.h
  deps/jerry/jerry-core/parser/js/js-lexer.c
  deps/jerry/jerry-core/parser/js/js-lexer.h
  deps/jerry/jerry-core/parser/js/js-parser.h
  deps/jerry/tests/jerry/number.js
Labels: jerry, push upstream, vm

#474 lint: enable lint on `tools`
  .eslintignore
  tools/common_js/logger.js
  tools/common_js/module/console.js
  tools/common_js/option_parser.js
  tools/common_js/util.js
  tools/iotjs_build_info.js
  tools/report-esfeature.js
Labels: test

#466 module: make require.main identical to main module
  docs/api/Module.md
  src/js/module.js
  test/run_pass/require4/foo.js
  test/run_pass/test_require_main.js
  test/testsets.json
Labels: module, push upstream
