Repository yodaos-project/ShadowNode, pull requests merged in 2018-10, with the labels that each got.

#358 events: emit 'removeListener' after remove listener.
  docs/api/Events.md
  src/js/events.js
  test/run_pass/test_events_remove_listener.js
Labels: events

#359 dbus: support returning double type
  src/modules/iotjs_module_dbus.c
  test/run_pass/test_dbus_service_and_call.js
Labels: dbus

#361 timer: update looper time before creating timer
  src/modules/iotjs_module_timer.c
Labels: timer

#366 leak: fix http/https and os leak
  src/js/http_client.js
  src/js/https_client.js
  src/modules/iotjs_module_os.c
  test/node/parallel/test-http-abort.js
Labels: http, https

#368 jerry: ref to function self should not create new object
  deps/jerry/jerry-core/ecma/operations/ecma-function-object.c
  deps/jerry/jerry-core/vm/vm-defines.h
  deps/jerry/jerry-core/vm/vm.c
  deps/jerry/jerry-core/vm/vm.h
  test/run_pass/test_events_remove_listener.js
  test/run_pass/test_iotjs_selfref.js
  test/testsets.json
Labels: jerry

#364 events: Limit listener number
  docs/api/Events.md
  src/js/assert.js
  src/js/events.js
  test/common/index.js
  test/run_pass/test_event_emitter_max_listeners.js
  test/run_pass/test_event_emitter_max_listeners_warning.js
Labels: events

#371 doc: update supported n-api methods list
  docs/api/N-API.md
Labels: doc, n-api

#370 mqtt: clean up the keepalive timer when disconnecting
  src/js/mqtt.js
  test/run_pass/test_mqtt_client.js
  test/run_pass/test_mqtt_sub_pub.js
  test/testsets.json
Labels: mqtt

#372 process: add signal events support
  deps/libtuv/src/unix/core.c
  docs/api/Process.md
  src/js/child_process.js
  src/js/constants.js
  src/js/iotjs.js
  src/modules.json
  src/modules/iotjs_module_signal.c
  src/modules/iotjs_module_signal.h
  test/run_pass/test_signal_simple.js
  test/testsets.json
Labels: process

#375 TLS: fix tls connection could not be actively disconnected
  src/js/tls.js
  test/run_pass/test_mqtts_client.js
Labels: tls

#382 jerry: pass regression-test-issue-2105 for heapdump
  deps/jerry/tests/jerry/regression-test-issue-2105.js
Labels: jerry

#380 async-work: fix complete callback segv/ticks
  src/napi/node_api_async.c
Labels: n-api

#379 process: add shebang parser supports
  src/modules/iotjs_module_process.c
  test/run_fail/test_shebang_fail.js
  test/run_pass/test_shebang.js
  test/testsets.json
Labels: process, push upstream

#386 jerry: set prototype/constructor for external functions
  deps/jerry/jerry-core/api/jerry.c
  deps/jerry/jerry-core/ecma/operations/ecma-function-object.c
  deps/jerry/tests/unit-core/test-api.c
Labels: jerry, push upstream

#385 promise: optimize the performance on .then and static resolve
  benchmark/promise/resolve-empty-array.js
  benchmark/promise/resolve-statically.js
  benchmark/promise/then.js
  src/js/promise.js
Labels: perf, promise

#381 jerry: merge a59cf4f from upstream to optimize the function call
  deps/jerry/jerry-core/debugger/debugger.h
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtins.c
  deps/jerry/jerry-core/ecma/builtin-objects/ecma-builtins.h
  deps/jerry/jerry-core/ecma/operations/ecma-function-object.c
  deps/jerry/tests/jerry/es2015/regression-test-issue-2414.js
Labels: jerry

#393 child_process: introduce binary protocol to optimizing performance
  src/iotjs_magic_strings.h
  src/js/buffer.js
  src/js/child_process.js
  src/modules/iotjs_module_constants.c
  src/modules/iotjs_module_pipe.c
  test/run_pass/test_process_send.js
Labels: child_process

#396 build: add dependencies for iotjs.cmake which depends on others
  cmake/iotjs.cmake
Labels: build

#397 events: cannot read property 'newListener' of undefined
  src/js/events.js
Labels: events

#398 tools: clang-format-7 on travis-ci
  src/modules/iotjs_module_buffer.c
  src/modules/tizenrt/iotjs_module_spi-tizenrt.c
  tools/apt-get-install-deps.sh
Labels: build

#399 n-api: code is optional on create error
  src/napi/node_api_value.c
  test/napi/napi_error.c
  test/napi/napi_error_throw.test.js
Labels: n-api

#295 n-api: new.target
  docs/api/N-API.md
  src/internal/node_api_internal_types.h
  src/napi/node_api_function.c
  test/napi-testsets.json
  test/napi/binding.gyp
  test/napi/napi_new_target.c
  test/napi/napi_new_target.test.js
Labels: n-api
