Repository yodaos-project/ShadowNode, pull requests merged in 2019-03, with the labels that each got.

#503 jerry: correct class constructor literal index
  deps/jerry/jerry-core/parser/js/js-parser-expr.c
  deps/jerry/tests/jerry/es2015/regression-test-issue-502.js
Labels: jerry

#501 promise: function `promise.then` need to be binded
  src/js/promise.js
  test/run_pass/test_iotjs_promise_then_bind.js
Labels: perf, promise

#511 build: support cmake 2.8 string concat
  cmake/iotjs.cmake
Labels: build
