Repository yodaos-project/ShadowNode, pull requests merged in 2019-08, with the labels that each got.

#552 n-api: napi_get_cb_info with NULL argv but non-zero argc
  src/napi/node_api_function.c
  test/napi-testsets.json
  test/napi/napi_arguments.c
  test/napi/napi_arguments_rectify_argc.test.js
Labels: n-api

#553 build: fix compile error on python3
  tools/js2c.py
Labels: build

#547 MQTT: fix event flow & add more tests
  docs/api/MQTT.md
  src/js/mqtt.js
  test/run_pass/test_mqtt_client.js
  test/run_pass/test_mqtt_disconnect.js
  test/run_pass/test_mqtt_end.js
  test/run_pass/test_mqtt_error.js
  test/run_pass/test_mqtt_event_1.js
  test/run_pass/test_mqtt_event_2.js
  test/run_pass/test_mqtt_event_3.js
  test/run_pass/test_mqtt_reconnect_1.js
  test/run_pass/test_mqtt_reconnect_2.js
  test/run_pass/test_mqtt_reconnect_3.js
  test/run_pass/test_mqtt_timeout.js
Labels: mqtt
